{%- set build = salt['grains.filter_by']({
    'Debian': {
        'version': '1.2.1',
        'binaries': [],
        'source_url': 'https://releases.hashicorp.com/packer/',
    },
    'RedHat': {
        'version': '1.2.1',
        'binaries': [],
        'source_url': 'https://releases.hashicorp.com/packer/',
    },
}, merge=salt['pillar.get']('packer:build')) %}
